$secondary-color:#343a40;
$primary-color: #272727;

$secondary-text: #ff652f;
$primary-text: #14a76c; 
$tertiary-text: #ffe400;

html, .app {
  background: $secondary-color;
  color: $primary-text;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.main-content {
    padding-top: 5em;
}

.bg-dark {
  background: $primary-color!important;
}

b {
  color: $secondary-text;
}

.text-muted {
  color: $primary-text!important;
  /* padding: 5px; */
  margin-top: 5px;
}

h1, h2, h3, h4, h5, h6 {
  color: $secondary-text;
}

.card {
  margin: 50px;
  background: $primary-color;
  padding: 20px;
}

small {
  color: $tertiary-text;
}

.ability-text {
  color: $primary-text;
}

.row-2 {
  margin-top: 2em;
}

.search-box {
    width: 50%;
    background: transparent;
    border-color: $secondary-text;
}
.search-box:focus {
  color: $primary-text;
  background: transparent;
  border-color: $secondary-text;
}

.search-results {
    margin-top: 5em;
}

.object-title {
    margin-bottom: 2em;
}

.react-autosuggest__suggestion:hover {
  background: $secondary-color;
  color: $secondary-text;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: relative;
  width: 50%;
  border: 1px solid #aaa;
  background-color: transparent;
  color: $primary-text;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
  margin: auto;
}

.react-autosuggest__suggestions-list {
  background: transparent;
  color: $primary-text;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: $secondary-color;
}
